<nav class="navbar navbar-default navbar-fixed-top" id="rsmm-nav-1">
    <div class="container">
        {% include noscript.html %}    
        <div class="navbar-header" id="rsmm-ime">
            Računalniške storitve Miro Maher
        </div>
        {% include zastave.html %}    
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" id="rsmm-nav-2">
    <div class="container" id="rsmm-lang-header">

            <a class="navbar-brand" href="/">
                <img alt="RSMM" src="/images/00_logotip_ORA.png" id="rsmm-meni-logo">
            </a>
            <span class="pull-left" id="rsmm-lang-naslov">{{ page.nav }}</span>
            <span class="pull-right" id="rsmm-lang-slo"><a href="/">slovenščina</a></span>
        
    </div>
</nav>
