
    <div class="row" id="rsmm-storitve-banner">
        <div class="col-sm-6" id="rsmm-storitve-left">

            <div class="rsmm-storitve-icon">
                <span>pregled sistema</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/pregledsistema.html">
                        <img alt="pregled sistema" src="/images/11_pregled_sistema.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>nastavitve sistema</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/nastavitvesistema.html">
                        <img alt="nastavitve sistema" src="/images/12_nastavitve_sistema.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>instalacija programov</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/instalacijaprogramov.html">
                        <img alt="instalacija programov" src="/images/13_instalacija_programov.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>odpravljanje napak</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/odpravljanjenapak.html">
                        <img alt="odpravljanje napak" src="/images/14_odpravljanje_napak.png">
                    </a>
                </div>
            </div>

        </div>
        <div class="col-sm-6" id="rsmm-storitve-right">
            
            <div class="rsmm-storitve-icon">
                <span>svetovanje</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/svetovanje.html">
                        <img alt="svetovanje" src="/images/15_svetovanje.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>izobraževanje</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/izobrazevanje.html">
                        <img alt="izobraževanje" src="/images/16_izobrazevanje.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>mobilne naprave</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/mobilnenaprave.html">
                        <img alt="mobilne naprave" src="/images/17_mobilne_naprave.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>spletne strani</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/spletnestrani.html">
                        <img alt="spletne strani" src="/images/18_spletne_strani.png">
                    </a>
                </div>
            </div>
            
        </div>
    </div>
