
    <div class="row" id="rsmm-storitve-banner">
        <div class="col-sm-6" id="rsmm-storitve-left">

            <div class="rsmm-storitve-icon">
                <span>pregled sistema</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/pregled_sistema.html">
                        <img src="/images/11_pregled_sistema.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>nastavitve sistema</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/nastavitve_sistema.html">
                        <img src="/images/12_nastavitve_sistema.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>instalacija programov</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/instalacija_programov.html">
                        <img src="/images/13_instalacija_programov.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>odpravljanje napak</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/odpravljanje_napak.html">
                        <img src="/images/14_odpravljanje_napak.png">
                    </a>
                </div>
            </div>

        </div>
        <div class="col-sm-6" id="rsmm-storitve-right">
            
            <div class="rsmm-storitve-icon">
                <span>svetovanje</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/svetovanje.html">
                        <img src="/images/15_svetovanje.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>izobraževanje</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/izobrazevanje.html">
                        <img src="/images/16_izobrazevanje.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>mobilne naprave</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/mobilne_naprave.html">
                        <img src="/images/17_mobilne_naprave.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-storitve-icon">
                <span>spletne strani</span>
                <div class="rsmm-storitve-image">
                    <a href="/storitve/spletne_strani.html">
                        <img src="/images/18_spletne_strani.png">
                    </a>
                </div>
            </div>
            
        </div>
    </div>
