
    <div class="row" id="rsmm-tehnologija-banner">
        <div class="col-sm-6" id="rsmm-tehnologija-left">

            <div class="rsmm-tehnologija-icon">
                <span>Microsoft</span>
                <div class="rsmm-tehnologija-image">
                    <a href="/tehnologija/microsoft.html">
                        <img alt="Microsoft" src="/images/logo-microsoft.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-tehnologija-icon">
                <span>VMware</span>
                <div class="rsmm-tehnologija-image">
                    <a href="/tehnologija/vmware.html">
                        <img alt="VMware" src="/images/logo-vmware.png">
                    </a>
                </div>
            </div>
            
            <div class="rsmm-tehnologija-icon">
                <span>Veeam</span>
                <div class="rsmm-tehnologija-image">
                    <a href="/tehnologija/veeam.html">
                        <img alt="Veeam" src="/images/logo-veeam.png">
                    </a>
                </div>
            </div>

        </div>
        <div class="col-sm-6" id="rsmm-tehnologija-right">

            <div class="rsmm-tehnologija-icon">
                <span>Synology</span>
                <div class="rsmm-tehnologija-image">
                    <a href="/tehnologija/synology.html">
                        <img alt="Synology" src="/images/logo-synology.png">
                    </a>
                </div>
            </div>

            <div class="rsmm-tehnologija-icon">
                <span>pfSense</span>
                <div class="rsmm-tehnologija-image">
                    <a href="/tehnologija/pfsense.html">
                        <img alt="pfSense" src="/images/logo-pfsense.png">
                    </a>
                </div>
            </div>
            
            <div class="rsmm-tehnologija-icon">
                <span>UbuntuMATE</span>
                <div class="rsmm-tehnologija-image">
                    <a href="/tehnologija/ubuntumate.html">
                        <img alt="Ubuntu MATE" src="/images/logo-ubuntumate.png">
                    </a>
                </div>
            </div>
            
        </div>
    </div>

