<div id="rsmm-zastave">

    <div class="rsmm-zastave-icon">
        <span>LA</span>
        <div class="rsmm-zastave-image">
            <a href="/international/LAT.html">
                <img src="/international/LAT.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>HR</span>
        <div class="rsmm-zastave-image">
            <a href="/international/CRO.html">
                <img src="/international/CRO.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>IT</span>
        <div class="rsmm-zastave-image">
            <a href="/international/ITA.html">
                <img src="/international/ITA.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>DE</span>
        <div class="rsmm-zastave-image">
            <a href="/international/GER.html">
                <img src="/international/GER.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>EN</span>
        <div class="rsmm-zastave-image">
            <a href="/international/ENG.html">
                <img src="/international/ENG.png">
            </a>
        </div>
    </div>

</div>
