<div id="rsmm-zastave">

    <div class="rsmm-zastave-icon">
        <span>LA</span>
        <div class="rsmm-zastave-image">
            <a href="/language/LAT.html">
                <img alt="LA" src="/language/LAT.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>HR</span>
        <div class="rsmm-zastave-image">
            <a href="/language/CRO.html">
                <img alt="HR" src="/language/CRO.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>IT</span>
        <div class="rsmm-zastave-image">
            <a href="/language/ITA.html">
                <img alt="IT" src="/language/ITA.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>DE</span>
        <div class="rsmm-zastave-image">
            <a href="/language/GER.html">
                <img alt="DE" src="/language/GER.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>EN</span>
        <div class="rsmm-zastave-image">
            <a href="/language/ENG.html">
                <img alt="EN" src="/language/ENG.png">
            </a>
        </div>
    </div>

</div>
