<!DOCTYPE html>
<html class="no-js" lang="{% if page.language %}{{ page.language }}{% else %}si{% endif %}">    
    <head>
        {% include head.html %}    
    </head>
    <body>
        {% if page.language %}
            {% include nav_lang.html %}
        {% else %}
            {% include navigation.html %}
        {% endif %}        

        {{ content }}

        {% include footer.html %}            
        {% include google_analytics.html %}
        {% include cookieconsent.html %}
    </body>
</html>

